#menu{
  width:600px;
  height:60px;
  #border: 1px solid black;
  margin: 30px;
}
#wrapper{
  width: 60px;
  height: 60px;
  #border: 1px solid blue;
  position: relative;
}
.menu-circle{
  height: 60px;
  width: 60px;
  background: #66cc99;
  border-radius: 50%;
  #border: 1px solid red;
  position: absolute;
  box-shadow: 2px 1px 5px grey;
}
.fa-bars{
  #border: 1px solid yellow;
  margin: 15px 16px;
  color: white;
}
.fa-comments{
  margin: 15px 16px;
  color: white;
}
.fa-anchor{
  margin: 15px 16px;
  color: white;
}
.fa-asterisk{
  margin: 15px 16px;
  color: white;
}
.fa-bomb{
  margin: 15px 16px;
  color: white;
}
#wrapper:hover{
  width: 550px;
  #border: 1px solid blue;
}
#wrapper:hover .menu-circle{
  position: relative;
  float: left;
  margin: 0px 50px 0px 0px;
  box-shadow: 3px 2px 5px grey;
}
#menu2{
  width:600px;
  height:60px;
  #border: 1px solid black;
  margin: 30px;
}
#wrapper2{
  width: 60px;
  height: 60px;
  #border: 1px solid blue;
  position: relative;
}
.menu-circle2{
  height: 60px;
  width: 60px;
  background:  #6699ff;
  border-radius: 50%;
  #border: 1px solid red;
  position: absolute;
  box-shadow: 2px 1px 5px grey;
}
#wrapper2:hover{
  width: 550px;
  #border: 1px solid blue;
}
#wrapper2:hover .menu-circle2{
  position: relative;
  float: left;
  margin: 0px 50px 0px 0px;
  box-shadow: 3px 2px 5px grey;
}
#wrapper2:hover #to-hide{
  display: none;
}